<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:url" content="https://andreloureiro.github.io/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Andre Loureiro" />
    <meta
      property="og:description"
      content="Andre Loureiro - Frontend developer"
    />
    <meta
      property="og:image"
      content="https://andreloureiro.github.io/assets/images/me.jpg"
    />
    <meta property="og:image:alt" content="Andre Loureiro" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Andre Loureiro" />
    <meta
      name="twitter:description"
      content="Andre Loureiro - Frontend developer"
    />
    <meta
      name="twitter:image"
      content="https://andreloureiro.github.io/assets/images/me.jpg"
    />
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  {{
    content
  }}
</html>
